[
    (
        name: "Level",
        parents: []
    ),
    (
        name: "Dexterity",
        parents: [
            (
                name: "Level",
                strength: 1
            )
        ]
    )
]
