(
    room_dimensions: (
        room_min_width: 8,
        room_max_width: 12,
        room_min_height: 8,
        room_max_height: 12,
    ),

    map_dimensions: (
        map_width: 180,
        map_height: 50,
    ),

    max_retries: 250000,

    seed: 128763297,
)