[   
    // Root node
    (
        name: "Level",
    ),
    (
        name: "Dexterity",
        parents: [
            (
                name: "Level",
                strength: 1
            )
        ]
    )
]
